<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Oil Report</title>
	<meta name="description" content="Oil Report" />
	<link rel="stylesheet" href="css/web_style.css" />
</head>
<body>
	<header class="wrapper">
		<div class="logo_container">
<!--			<img class="logo" src="{{assets_dir}}/logo.jpg"></img>-->
			<img class="logo" src="../assets/logo.jpg"></img>
			<!--<img class="logo" src="../assets/logo.jpg"></img>-->
		</div>
		<div class="comp_descr">
			ООО "Исполнитель"<br/>Адрес<br/>ИНН: хххххххххххх КПП: ххххххххх<br/>☆ URL<br/>✉ e-mail ☎ Телефонный номер
		</div>
	</header>
	<section>
		<div class="protocol_name">
			<h2 class="title">Протокол №  {{protocol_num}}</h2>
			<h2 class="descr">
				хроматографический анализ растворённых газов в трансформаторном масле газов
			</h2>
		</div>
	</section>
	<section class="wrapper">
		<div class="characteristics">
			<h2>
				1. Характеристика объекта испытаний
			</h2>
			<table class="description1">
				<tbody>
					<tr>
						<td class="left_td">Наименование предприятия</td>
						<td class="right_td">{{client_name}}</td>
					</tr>
					<tr>
						<td class="left_td">Место установки</td>
						<td class="right_td">{{substation_name}}</td>
					</tr>
					<tr>
						<td class="left_td">Диспетчерское наименование</td>
						<td class="right_td">{{equip_name}}</td>
					</tr>
					<tr>
						<td class="left_td">Место отбора</td>
						<td class="right_td">{{testing_part}}</td>
					</tr>
					<tr>
						<td class="left_td">Тип оборудования</td>
						<td class="right_td">{{equip_type}}</td>
					</tr>
					<tr class="last_row">
						<td class="left_td">Заводской номер</td>
						<td class="right_td">{{equip_serial_num}}</td>
					</tr>
				</tbody>
			</table>
			<table class="description2">
				<tbody>
					<tr>
						<td class="left_td">Тип защиты</td>
						<td class="right_td">{{def_type}}</td>
					</tr>
					<tr>
						<td class="left_td">Класс напряжения</td>
						<td class="right_td">{{voltage_class}}</td>
					</tr>
					<tr>
						<td class="left_td">Марка масла</td>
						<td class="right_td">{{oil_brand}}</td>
					</tr>
					<tr>
						<td class="left_td">Год выпуска</td>
						<td class="right_td">{{production_year}}</td>
					</tr>
					<tr class="last_row">
						<td class="left_td">Год ввода в эксплуатацию</td>
						<td class="right_td">{{setting_year}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section class="wrapper">
		<div class="conditions">
			<h2>
				2. Условия отбора пробы
			</h2>
			<table class="">
				<tbody>
					<tr>
						<td class="">Причина отбора</td>
						<td class="">{{reason}}</td>
						<td class="">Температура окр. среды, &#176C</td>
						<td class="">{{atm_temperature}}</td>
						<td class="">Температура масла пробы, &#176C</td>
						<td class="">{{oil_temperature}}</td>
					</tr>
					<tr>
						<td class="">Дата отбора</td>
						<td class="">{{date}}</td>
						<td class="">Дата доставки пробы в лабораторию</td>
						<td class="">{{delivery_date}}</td>
						<td class="">Дата выполнения испытаний</td>
						<td class="">{{test_date}}</td>
					</tr>
					<tr>
						<td class="">Шифр пробы</td>
						<td class="">{{probe_code}}</td>
						<td colspan="2" class="">Условия проведения испытаний:<br> темп., &#176C/ давл., мм.рт.ст./ влажность, %</td>
						<td colspan="2" class="">{{test_conditions}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h3>НД: РД 34.46.303-98</h3>
	</section>
	<section class="wrapper">
		<div class="conditions">
			<h2>
				3. Испытательное оборудование и средства измерений
			</h2>
			<table class="">
				<tbody>
					<tr>
						<td class="">№ п/п</td>
						<td class="">Наименование оборудования</td>
						<td class="">Тип</td>
						<td class="">Заводской номер</td>
						<td class="">Погрешность измерений</td>
						<td class="">Свидетельство о поверке</td>
						<td class="">Дата следующей поверки</td>
					</tr>
					<tr>
						<td class="">1</td>
						<td class="">{{manufacturer_name}}</td>
						<td class="">{{type_name}}</td>
						<td class="">{{serial_num}}</td>
						<td class="">{{accuracy}}</td>
						<td class="">{{cert_number}}</td>
						<td class="">{{next_cert_date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section class="wrapper">
		<div class="results">
			<h2>
				4. Результаты испытаний
			</h2>
			<table class="">
				<tbody>
					<tr>
						<td rowspan="2"class="">Наименование параметра по НД*</td>
						<td class="">H2</td>
						<td class="">CH4</td>
						<td class="">C2H4</td>
						<td class="">C2H6</td>
						<td class="">C2H2</td>
						<td class="">CO2</td>
						<td class="">CO</td>
						<td class="">N2+O2</td>
					</tr>
					<tr>
						<td class="">Водород</td>
						<td class="">Метан</td>
						<td class="">Этилен</td>
						<td class="">Этан</td>
						<td class="">Ацетилен</td>
						<td class="">Диоксид <br> углерода</td>
						<td class="">Оксид <br> углерода</td>
						<td class="">ОГС</td>
					</tr>
					<tr>
						<td class="">Значение параметра по НД*, % об.</td>
						<td class="">{{H2_normative}}</td>
						<td class="">{{CH4_normative}}</td>
						<td class="">{{C2H4_normative}}</td>
						<td class="">{{C2H6_normative}}</td>
						<td class="">{{C2H2_normative}}</td>
						<td class="">{{CO2_normative}}</td>
						<td class="">{{CO_normative}}</td>
						<td class="">{{N2_O2_normative}}</td>
					</tr>
					<tr>
						<td class="">Фактическое значение параметра **, % об.</td>
						<td class="">{{H2_value}}</td>
						<td class="">{{CH4_value}}</td>
						<td class="">{{C2H4_value}}</td>
						<td class="">{{C2H6_value}}</td>
						<td class="">{{C2H2_value}}</td>
						<td class="">{{CO2_value}}</td>
						<td class="">{{CO_value}}</td>
						<td class="">{{N2_O2_value}}</td>
					</tr>
				</tbody>
			</table>
			<h3>* - {{normative_doc}}</h3>
			<h3>** - фактическое значение параметра рассчитано на основании двух параллельных испытаний.</h3>
		</div>

	</section>
	<section class="wrapper">
		<div class="conclusion">
			<h2>5. Заключение</h2>
			<p>Результат испытаний {{matching}} требованиям {{normative_doc}} по граничной концентрации {{mismatches}}, растворенных в трансформаторном масле.</p>
		</div>
	</section>
	<section class="wrapper">
		<div class="certificate">
			<h2>6. Аттестат аккредитации испытательной лаборатории</h2>
			<p>{{accreditation_number}} выдан {{emission_date}}</p>
			<table class="sign_form">
				<tbody>
					<tr>
						<td class="">Протокол проверил</td>
						<td class="">Должность</td>
						<td class="">Подпись</td>
					</tr>
					<tr>
						<td class="">Самарцева И.А.</td>
						<td class="">Генеральный директор</td>
						<td class=""></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<footer>
		Протокол № {{protocol_num}}
	</footer>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
